<?xml version="1.0" ?>
<model>
    <name>unit_cylinder</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Toshiyuki Oshima</name>
        <email>toshiyuki67026@gmail.com</email>
    </author>

    <description>
        unit cylinder
    </description>
</model>
