<?xml version="1.0"?>
<robot name="ld06"
  xmlns:xacro="http://ros.org/wiki/xacro">
  <material name="light_black">
    <color rgba="0.4 0.4 0.4 1.0"/>
  </material>

  <link name="base_link">
    <collision name="ld06_collision">
      <origin xyz="0 0 0.01665" rpy="0 0 0"/>
      <geometry>
        <box size="0.039 0.039 0.0333"/>
      </geometry>
    </collision>

    <visual name="ld06_visual">
      <origin xyz="-0.016259 0.027386 -0.003454" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ld06_sim/description/meshes/ld06.stl"/>
      </geometry>
      <material name="light_black"/>
    </visual>
  </link>

  <link name="base_scan"/>

  <joint name="scan_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_scan"/>
    <origin xyz="0 0 0.0257" rpy="0 0 0"/>
  </joint>
</robot>